*{
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
}

@keyframes selected {
    from {opacity: 1.0;}
    to {opacity: 0.1;}
}

.selected{
    animation: selected 0.1s linear infinite;
}

div div{
    width: 18px;
    height: 18px;
    margin: 0px;
    background-color: white;
    border: 1px solid black; 
    border-style: solid;
}

div#canvas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
}

footer#palette{
    display: flex;
    width: 1000px;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
}

footer div{
    display: flex;
    width: 111.11px;
    height: 100px;
    justify-content: center;
    align-items: center;
} 

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

div.red{
    background-color: red;
}

div.orange{
    background-color: orange;
}

div.yellow{
    background-color: yellow;
}

div.green{
    background-color: green;
}

div.blue{
    background-color: blue;
}

div.indigo{
    background-color: indigo;
}

div.violet{
    background-color: violet;
}

div.brown{
    background-color: brown;
}

div.black{
    background-color: black;
}